# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Alembic cache
alembic/__pycache__/

# Uploaded files
storage/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/